@font-face {
  font-family: GoodUnicorn;
  src: url(/src/assets/fonts/GoodUnicornRegular-Rxev.ttf);
}
* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  user-select: none;
}

body {
  text-align: center;
  margin: 0;
  background: linear-gradient(to right bottom, #EC6EAD, #3494E6);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.MuiLink-root.MuiLink-root {
  margin-inline: 0;
}

img {
  width: 100%;
}

button {
  transition: 100ms;
}

a {
  transition: 100ms;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}
#root .main-screen {
  display: flex;
  flex-direction: column;
}

.main-header {
  grid-row: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0.75em;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
}
.main-header nav {
  display: flex;
  flex-direction: row-reverse;
}
.main-header .title {
  width: max-content;
  position: fixed;
  left: 50%;
  translate: -50% 0;
}

.login-container .logged-in-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.login-form-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
}
.login-form-backdrop .login-form {
  text-align: start;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 20em;
  display: grid;
  justify-items: center;
  gap: 0.5em;
  background-color: white;
  padding: 0.5em 0.75em;
  border-radius: 1em;
}
.login-form-backdrop .login-form label {
  display: grid;
  grid-template-columns: 7em auto;
  align-items: center;
}

.cart {
  position: fixed;
  right: 0.75em;
  top: 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 0.75em;
  border-radius: 0.75em;
}
.cart ul {
  padding-inline-start: 1em;
}
.cart li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toy-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.toy-filter .label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.toy-filter .label-container > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toy-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.toy-sort .label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.toy-sort .label-container > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toy-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  padding: 0.5em 0.75em;
}
.toy-page > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toy-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
  padding: 0.5em 0.75em 0.75em 0.75em;
}
.toy-list .toy-preview-container {
  border: 1px solid gray;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.toy-list .toy-preview-container .toy-preview > * {
  margin: 0;
}
.toy-list .toy-preview-container .toy-preview > *:not(:last-child) {
  margin-block-end: 1em;
}
.toy-list .toy-preview-container .links {
  justify-content: center;
}

.toy-preview-container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
  transition: 200ms;
}
.toy-preview-container:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.6);
}

.home-page {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.home-page img {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: auto;
  border-radius: 2em;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em 0.75em;
}

.toy-details {
  width: fit-content;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5em 0.75em;
  padding: 0.5em 0.75em;
  border-radius: 1em;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}
.toy-details * {
  margin: 0;
}
.toy-details .toy-preview {
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}
.toy-details img {
  padding: 0.25em 0;
  max-width: 30em;
  border-radius: 1em;
}
.toy-details .links {
  padding: 0.3em 0;
}

.toy-edit-form {
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  gap: 0.5em;
  justify-content: center;
  padding: 0.5em 0.75em;
  margin: 0.5em 0.75em;
  border-radius: 1em;
}
.toy-edit-form > label {
  display: grid;
  grid-template-columns: 7em auto;
  align-items: center;
  justify-items: start;
}
.toy-edit-form > label div {
  width: 100%;
}
.toy-edit-form .links {
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
