.toy-edit-form
    display: grid
    grid-template-columns: auto
    gap: $grid-gap
    justify-content: center
    >label
        display: grid
        grid-template-columns: 7em auto
        div
            width: 100%
    .links
        justify-content: center