.toy-edit-form
    background-color: rgba(white, 0.5)
    width: fit-content
    align-self: center
    display: grid
    grid-template-columns: auto
    gap: $grid-gap
    justify-content: center
    padding: $vertical-padding $side-padding
    margin: $vertical-padding $side-padding
    border-radius: 1em
    >label
        display: grid
        grid-template-columns: 7em auto
        align-items: center
        justify-items: start
        div
            width: 100%
    .links
        justify-content: center