@mixin label-container
    @include flex-wrap

    > label
        @include flex

@mixin flex-wrap
    @include flex
    flex-wrap: wrap

@mixin flex
    display: flex
    align-items: center
    gap: 0.5em