*
    box-sizing: border-box
    font-family: Georgia, 'Times New Roman', Times, serif
    -webkit-user-drag: none
    -moz-window-dragging: none
    user-select: none

body
    text-align: center
    margin: 0
    background: linear-gradient(to right bottom, #EC6EAD, #3494E6)

h1, h2, h3, h4, h5, h6
    margin: 0

.MuiLink-root.MuiLink-root
    padding: 0.25em 0.4em
    margin-inline: 0
    border-radius: 0.4em
    background-color: rgba(white, 0.75)
    &:hover
        text-decoration: none

img
    width: 100%

button
    transition: 100ms

a
    transition: 100ms